.dashboard {
  background-color: var(--background);
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.body-container {
  background-color: var(--background-hover);
  display: flex;
  flex-grow: 1;
  padding: 2rem 0rem 0rem 2rem;
  gap: 2rem;

  overflow: hidden;
  min-height: 0;
}

.body-container .main-container {
  background-color: var(--background-hover);
  overflow-y: auto;
  min-height: 0;

  flex: 1; 

  padding-right: 2rem;
  padding-bottom: 2rem;
}

.body-container .main-container .main-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  min-width: 0;   /* 🔥 resolve overflow horizontal */
  min-height: 0;  /* 🔥 resolve overflow vertical */

  overflow-y: auto;
}

.body-container .main-container .main-content h1 {
  font-weight: 500;
  font-size: 1.5rem;

  color: var(--text);
}

.body-container .main-container .main-content .cards-container {
  display: flex;
  justify-content: space-between;
  height: 9rem;
  gap: 2rem;
}

.body-container .main-container .main-content .cards-container .card {
  background-color: var(--background);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  border-radius: 8px;
}

.body-container .main-container .main-content .cards-container .card .card-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.body-container .main-container .main-content .cards-container .card .card-header .image-container {
  height: 2rem;
  width: 2rem;
  background-color: var(--terciary);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container .main-container .main-content .cards-container .card .card-header .image-container img {
  height: 1rem;
  filter: invert(25%) sepia(52%) saturate(3543%) hue-rotate(239deg) brightness(86%) contrast(88%);
}

.body-container .main-container .main-content .cards-container .card .card-header h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}

.body-container .main-container .main-content .cards-container .card p {
  font-size: 2rem;
  font-weight: 600;

  color: var(--text);

  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* ---------------------- */

.body-container .main-container .main-content .tabela-container {
  background-color: var(--background);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  min-height: 25rem;
}

.body-container .main-container .main-content .tabela-container .tabela-section-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: fit-content;
}

.body-container .main-container .main-content .tabela-container .tabela-section-header .container-image {
  height: 2rem;
  width: 2rem;
  background-color: var(--terciary);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container .main-container .main-content .tabela-container .tabela-section-header .container-image img {
  height: 1rem;
  filter: invert(25%) sepia(52%) saturate(3543%) hue-rotate(239deg) brightness(86%) contrast(88%);
}

.body-container .main-container .main-content .tabela-container .tabela-section-header h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}

.body-container .main-container .main-content .tabela-container .tabela-section-header h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);

  flex-grow: 1;
  display: flex;
  justify-content: end;
}

.body-container .main-container .main-content .tabela-container .tabela {
  border-collapse: collapse;
  width: 95%;
}


.body-container .main-container .main-content .tabela-container .tabela thead tr {
  height: 5rem;
}

.body-container .main-container .main-content .tabela-container .tabela thead tr th {
  font-weight: 400;
  opacity: 0.5;
}

.body-container .main-container .main-content .tabela-container .tabela thead tr .produto-id {
  text-align: start;
  width: 25%;
  padding-left: 1rem;
}
.body-container .main-container .main-content .tabela-container .tabela thead tr .produto-preco {
  text-align: end;
  padding-right: 1rem;
}

.body-container .main-container .main-content .tabela-container .tabela tbody {
  height: 10rem;
}

.body-container .main-container .main-content .tabela-container .tabela tbody .linha-produto {
  height: 5em;
}

.body-container .main-container .main-content .tabela-container .tabela tbody .linha-mensagem {
  height: 100%;
}

.body-container .main-container .main-content .tabela-container .tabela tbody .linha-produto:hover {
  background-color: var(--background-hover);
}

.body-container .main-container .main-content .tabela-container .tabela tbody tr td {
  text-align: center;
}

.body-container .main-container .main-content .tabela-container .tabela tbody .linha-mensagem .tabela-mensagem {
  text-align: center;
  opacity: 0.5;
}

.body-container .main-container .main-content .tabela-container .tabela tbody tr .id-td {
  text-align: start;
  padding-left: 1rem;
}

.body-container .main-container .main-content .tabela-container .tabela tbody tr .preco-td {
  text-align: end;
  padding-right: 1rem;
}


