.dashboard {
  background-color: var(--background);
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.body-container {
  background-color: aqua;
  display: flex;
  flex-grow: 1;
  padding: 2rem;
  gap: 2rem;
}

.body-container .sidebar {
  width: 25rem;
  background-color: blueviolet;
}

.body-container .main-content {
  background-color: brown;
  flex-grow: 1;
}