.dashboard {
  background-color: var(--background);
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.body-container {
  background-color: var(--background-hover);
  display: flex;
  flex-grow: 1;
  padding: 2rem;
  gap: 2rem;

  overflow: hidden;
  min-height: 0;
}

.body-container .sidebar {
  width: 25rem;
  background-color: var(--background);
}

.body-container .main-content {
  background-color: var(--background-hover);
  overflow-y: auto;
  min-height: 0;

  flex: 1; 
}

.body-container .main-content .main-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  min-width: 0;   /* 🔥 resolve overflow horizontal */
  min-height: 0;  /* 🔥 resolve overflow vertical */

  overflow-y: auto;
}

.body-container .main-content .main-container h1 {
  font-weight: 500;
  font-size: 1.5rem;

  color: var(--text);
}

.body-container .main-content .main-container .cards-container {
  display: flex;
  justify-content: space-between;
  height: 9rem;
  gap: 2rem;
}

.body-container .main-content .main-container .cards-container .card {
  background-color: var(--background);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  border-radius: 8px;
}

.body-container .main-content .main-container .cards-container .card .card-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.body-container .main-content .main-container .cards-container .card .card-header .image-container {
  height: 2rem;
  width: 2rem;
  background-color: var(--terciary);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container .main-content .main-container .cards-container .card .card-header .image-container img {
  height: 1rem;
  filter: invert(25%) sepia(52%) saturate(3543%) hue-rotate(239deg) brightness(86%) contrast(88%);
}

.body-container .main-content .main-container .cards-container .card .card-header h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}

.body-container .main-content .main-container .cards-container .card p {
  font-size: 2rem;
  font-weight: 600;

  color: var(--text);

  flex-grow: 1;
  display: flex;
  align-items: center;
}

.body-container .main-content .main-container .tabela-container {
  background-color: red;
  height: 50000px;
}



