* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background: #FFFFFF; 
  --background-hover: #F8F8F8; 
  --primary: #5746D0; 
  --secondary: #7A6EFD; 
  --terciary: #F2F0FB; 
  --text: #444444; 
  --error: #f14646;
}